option_settings:
  aws:elasticbeanstalk:application:environment:
    MAX_CONTENT_LENGTH: "100000000"  # 100MB
    FLASK_CONFIG: "production"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "app:app"
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx

files:
  "/etc/systemd/system/gunicorn.service.d/timeout.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      [Service]
      TimeoutSec=600